body{
    background-color: #001011;
    font-family: "Verdana";
    margin: 0;
}

h1{
    font-size: 250%;
    text-decoration: underline;
    color: white;
    text-align: center;
}
h2{
    margin-left: 5%;
    margin-top: 8%;
    color: white;
}

.mainContainer{
    margin: auto;
    width: 60%;
    box-sizing: border-box;
    border-style: solid;
    border-width: 3px;
    border-color: #757780;
    background: #F6AE2D;
}

* {
    box-sizing: border-box;
}

#myInput {
    background-position: 10px 10px;
    background-repeat: no-repeat;
    width: 100%;
    font-size: 16px;
    padding: 12px 20px 12px 40px;
    border: 1px solid #ddd;
    margin-bottom: 12px;
}

#myTable2 {
    border-collapse: collapse;
    width: 100%;
    border: 1px solid #ddd;
    font-size: 18px;
}

#myTable2 th, #myTable2 td {
    text-align: center;
    padding: 12px;
}

#myTable2 tr {
    border-bottom: 1px solid #ddd;
}

#myTable2 tr.header, #myTable2 tr:hover {
    background-color: #f1f1f1;
}


.profileContainer{
    background-color: #F6AE2D;
    color: white;
    border-style: solid;
    border-width: 3px;
    border-color: #757780;
    padding: 10px;
}
<<<<<<< HEAD

.addAssignBtn {
    padding: 16px 20px;
    margin:30px auto;
    display:block;
    width: 120px;
}

.addAssignmentForm {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    z-index: 9;
    max-width: 60%;
}

.addAssignFormContainer {
    padding: 10px;
    background-color: #001011;
    color: white;
}

.addAssignFormContainer input[type=text], .addAssignFormContainer input[type=datetime-local], .addAssignFormContainer textarea {
    width: 100%;
    border: none;
    background: #F6AE2D;
    padding: 15px;
    margin: 5px 0 22px 0;
}

.radioAssignGroup{
    width: 100%;
    padding: 15px;
    margin: 5px 0 35px 0;
    border: none;
    background: #F6AE2D;
}

.radioAssignGroup label {
    padding-bottom: 5px;

}

.addAssignFormContainer input[type=text]:focus{
    outline: none;
    background-color: #ddd;
}

.addAssignFormContainer .createAssignBtn {
    border: none;
    background-color: #4CAF50;
    color: white;
    padding: 16px 20px;
    margin: 10px auto;
    cursor: pointer;
    display: block;
    width: 40%;
    opacity: 0.7;

}

.addAssignFormContainer .createAssignBtn:hover, .addAssignBtn:hover {
    opacity: .9;
}

.addAssignFormContainer .close {
    background-color: darkred;
}

=======
>>>>>>> parent of 05f9b69 (finished adding sorting function to assignment list)
