.courseContainer{
}

body{
    background-color: #001011;
    font-family: "Verdana";
    margin: 0;
}

h1{
    font-size: 250%;
    text-decoration: underline;
    color: white;
    text-align: center;
}
h2{
    margin-left: 5%;
    margin-top: 8%;
    color: white;
}

#coursesContainer{
    margin-left: 15%;
    margin-right:15%;
}

#myTable1 {
    box-sizing: border-box;
    border-collapse: collapse;
    border: 1px solid #ddd;
    font-size: 18px;
    background-color: #F6AE2D;
}
/* Dropdown Button */
.dropbtn {
    background-color: #f6ae2d;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: fixed;
    display: inline-block;
    right: 10%;
    top: 12%;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    right: 0;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd;}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}


.popup{
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
    display: flex;
    background-color: rgba(0, 0, 0, .5);
    visibility: hidden;
    opacity: 0;
    transition: visibility 300ms, opacity 300ms;
}

.popup_opened{
    visibility: visible;
    opacity: 1;
}

.popup__title{
    color: #001011;
    font-size: 36px;
    margin: 0 0 18px;
}

.popup__container{
    background-color: #fff;
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.15);
    border-radius: 15px;
    text-align: center;
    margin: auto;
    position: relative;
    padding: 15px;
}

.popup-button{
    margin: 30px;
    padding: 10px;
    font-family: inherit;
}