body{
    margin: 0;
}

ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    background-color: #F6AE2D;
    height: 100%;
    width: 12%;
    position: fixed;
    overflow: auto;
}

li a {
    display: block;
    color: black;
    padding: 8px 16px;
    text-decoration: none;
}

li a.active {
    color: white;
    background-color: #2C3E50;
}

li a:hover:not(.active) {
    color: white;
    background-color: #2C3E50;
}