body{
    background-color: #001011;
    font-family: "Verdana";
    margin: 0;
}

h1{
    font-size: 250%;
    text-decoration: underline;
    color: white;
    text-align: center;
}
h2{
    margin-left: 5%;
    margin-top: 8%;
    color: white;
}

.mainContainer{
    margin: auto;
    width: 60%;
    box-sizing: border-box;
}

* {
    box-sizing: border-box;
}

#myInput {
    background-position: 10px 10px;
    background-repeat: no-repeat;
    width: 100%;
    font-size: 16px;
    padding: 12px 20px 12px 40px;
    border: 1px solid #ddd;
    margin-bottom: 12px;
}

#myTable {
    border-collapse: collapse;
    width: 100%;
    border: 1px solid #ddd;
    font-size: 18px;
}

#myTable th, #myTable td {
    text-align: left;
    padding: 12px;
}

#myTable tr {
    border-bottom: 1px solid #ddd;
}

#myTable tr.header, #myTable tr:hover {
    background-color: #f1f1f1;
}
/* Dropdown Button */
.dropbtn {
    background-color: #f6ae2d;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: fixed;
    display: inline-block;
    right: 10%;
    top: 12%;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    right: 0;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd;}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}

.profileContainer{
    background-color: #F6AE2D;
    color: black;
    border-style: solid;
    border-width: 3px;
    border-color: #757780;
    padding: 10px;
}