body{
    background-color: #001011;
    font-family: "Verdana";
    margin: 0;
}

h1{
    font-size: 250%;
    text-decoration: underline;
    color: white;
    text-align: center;
}
h2{
    margin-left: 5%;
    margin-top: 8%;
    color: white;
}

.bio{
    display: inline-block;
    width: 90%;
    border-style: solid;
    border-width: 3px;
    border-color: #757780;
    padding: 10px;
    word-wrap: break-word;
}

.mainContainer{
    margin: auto;
    width: 60%;
    box-sizing: border-box;
}

.profileContainer{
    background-color: #F6AE2D;
    color: black;
    border-style: solid;
    border-width: 3px;
    border-color: #757780;
    padding: 10px;
}

.column {
    float: left;
    width: 30%;
    padding: 10px;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

.popup{
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
    display: flex;
    background-color: rgba(0, 0, 0, .5);
    visibility: hidden;
    opacity: 0;
    transition: visibility 300ms, opacity 300ms;
}

.popup_opened{
    visibility: visible;
    opacity: 1;
}

.popup__title{
    color: #001011;
    font-size: 36px;
    margin: 0 0 18px;
}

.popup__container{
    background-color: #fff;
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.15);
    border-radius: 15px;
    text-align: center;
    margin: auto;
    position: relative;
    padding: 15px;
}

.popup-button{
    margin: 30px;
    padding: 10px;
    font-family: inherit;
}