body{
    background-color: #001011;
    font-family: "Verdana";
    margin: 0;
}

.calanderContainer{
    width: 80%;
    margin: auto;
    text-align: center;
    padding: 20px;
}

#calendar{
    background-color: #F6AE2D;
    color: black;
    border-style: solid;
    border-width: 3px;
    border-color: #757780;
    padding: 10px;
}
.fc-toolbar h2{
    color: black;
}
#logoText{
    position: fixed;
    bottom: 0;
    right: 1%;
    z-index: 100;
    font-size: 100%;
    color: black;
    border-style: solid;
    border-width: 3px;
    border-color: #757780;
    margin: auto;
    background-color: #F6AE2D;
}
h1{
    font-size: 250%;
    text-decoration: underline;
    color: white;
    text-align: center;
}
h2{
    margin-left: 5%;
    margin-top: 8%;
    color: white;
}

.mainContainer{
    margin: auto;
    width: 60%;
    box-sizing: border-box;
}

.cardContainer{
    text-align: center;
}

.container{
    padding-left: 5px;
    padding-top: 2px;
    padding-bottom: 2px;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 5px; /* 5px rounded corners */
    border-style: solid;
    border-width: 3px;
    border-color: #757780;
    background: #F6AE2D;
    width: 34%;
    margin: 8px;
    display: inline-block;
}

/* Add rounded corners to the top left and the top right corner of the image */
img {
    border-radius: 5px 5px 0 0;
}

.notificationBell{
    position:absolute;
    top:0%;
    right:65px;
    cursor: pointer;
}

.notificationBox{
    position: absolute;
    top:90px;
    right:10px;
    width: 200px;
    height: 0px;
    opacity: 0%;
    border-style: solid;
    border-width: 3px;
    border-color: #757780;
    background: #F6AE2D;
}

.notificationItem{
    width: 190px;
    padding: 5px;
    border-style: solid;
    border-width: 1px;
    border-color: #757780;
    cursor: pointer;

}

.itemX{
    color: red !important;
    border-style: solid;
    border-width: 1px;
    border-color: #757780;
}

/*TodoList css*/

.todoUL {
    padding: 0;
    list-style-type: none;
    width: 20%;
    float: right;
    margin-top: 140px;
    margin-right: 10px;
    overflow: scroll;
}

.todoUL h2 {
    text-align: center;
    margin-bottom: 50px;
}

.todoUL li {
    padding: 12px 14px;
    background: #F6AE2D;
    transition: 0.2s;
    border-color: #757780;
    border-style: solid;
    border-width: 2px 3px;
    cursor: pointer;
    position: relative;
}

.todoUL li:nth-child(odd) {
    background: #ce8709;
}

.todoUL li:hover {
    background: #ddd;
}

.todoUL li a {
    text-decoration: none;
    color: black;
}

.todoUL .itemX {
    position: absolute;
    top: 1%;
    right: 1%;
}

/* for edit profile page */

.profileContainer{
    background-color: #F6AE2D;
    color: black;
    border-style: solid;
    border-width: 3px;
    border-color: #757780;
    padding: 10px;
}

.button {
    background-color: #2C3E50;
    border: none;
    color: white;
    padding: 50px 40px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;

}

.button1 {
    background-color: #2C3E50;
    color: white;
    border: 2px solid #2C3E50;
}

.button1:hover {
    background-color: #ce8709;
    color: white;
}

.close-button{
    border: 0;
    background: url('./img/Transparent_X.png') center center / 100% 100% no-repeat;
    width: 40px;
    height: 40px;
    position: absolute;
    right: 10px;
    top: 10px;
    fill: #000;
    padding: 0;
    cursor: pointer;
    display: block;
}

a {
    color: black;
    text-decoration: none;
}

#myDiv{
    display:none;
}


#myTable1 {
    box-sizing: border-box;
    border-collapse: collapse;
    border: 1px solid #ddd;
    font-size: 18px;
    background-color: #F6AE2D;
}

th{
    text-align: left;
    padding: 12px;
    width: 10%;
}

td {
    text-align: left;
    padding: 12px;
}

tr {
    border-bottom: 1px solid #ddd;
}

tr.header, tr:hover {
    background-color: #f1f1f1;
}

#coursesContainer{
    margin-left: 15%;
    margin-right:15%;
}
